In [130]:
import re
import numpy as np
import collections
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [518]:
data = pd.read_csv('C:\\Users\\vyushmanov\\Documents\\GitHub\\skillfactory\\data.csv')

data['profit']             = data.apply(lambda x: x['revenue'] - x['budget'], axis = 1)
data['cast_lst']           = data['cast'].apply(lambda x: x.split('|'))
data['director_lst']       = data['director'].apply(lambda x: x.split('|'))
data['genres_lst']         = data['genres'].apply(lambda x: x.split('|'))
data['prod_companies_lst'] = data['production_companies'].apply(lambda x: x.split('|'))

data['release_month'] = data['release_date'].apply(lambda x: int(x[:re.search(r'/\d+', x).start()]))
data['sesons'] = data['release_month'].apply(lambda x: 'winter' if x<=2 or x==12 else 
                                                     'spring' if x<=5 else 
                                                     'summer' if x<=8 else
                                                     'autumn')

In [413]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 23 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
profit                  1890 non-null int64
cast_lst                1890 non-null object
director_lst            1890 non-null object
genres_lst              1890 non-null object
prod_companies_lst      1890 non-null object
release_month           1890 non-null int64
sesons                  1890 non-null object
dtypes: float64(2), int64(7), object(14)
memory usage: 339.7+ KB

In [252]:
genres_list = data.genres.sum()
pd.Series(genres_list).value_counts()[0]

1

In [15]:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

        original_title    imdb_id
491  The Warrior's Way  tt1032751

In [26]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1158  Gods and Generals  tt0279111      214

In [25]:
data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
769  Winnie the Pooh  tt1449283       63

In [19]:
data['runtime'].mean()

109.65343915343915

In [31]:
import statistics as st
st.median(data['runtime'])

106.5

In [35]:
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [221]:
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id', 'profit']]

        original_title    imdb_id     profit
491  The Warrior's Way  tt1032751 -413912431

In [222]:
data[data['profit'] > 0].index.nunique()

1478

In [223]:
data9 = data[data['release_year'] == 2008]
data9 = data9[['original_title', 'profit']].sort_values(by='profit', ascending=False)['original_title']
pd.Series(data9)[:1]

600    The Dark Knight
Name: original_title, dtype: object

In [224]:
data10 = data[(data['release_year'] >= 2012)&(data['release_year'] <=2014)]
data10 = data10[['original_title', 'profit']].sort_values(by='profit', ascending=True)['original_title']
pd.Series(data10)[:1]

1246    The Lone Ranger
Name: original_title, dtype: object

In [261]:
genres_list = data.genres_lst.sum()
pd.Series(genres_list).value_counts()[:1]

Drama    782
dtype: int64

In [262]:
genres_list = data[data['profit'] > 0].genres_lst.sum()
pd.Series(genres_list).value_counts()[:1]

Drama    560
dtype: int64

In [263]:
director_list = data.director_lst.sum()
pd.Series(director_list).value_counts()[:1]

Steven Soderbergh    13
dtype: int64

In [264]:
director_list = data[data['profit'] > 0].director_lst.sum()
pd.Series(director_list).value_counts()[:1]

Ridley Scott    12
dtype: int64

In [272]:
list_q = ['Steven Spielberg', 'Christopher Nolan', 'David Yates', 'James Cameron', 'Peter Jackson']
dir_profit = []
for dr in list_q:
    res = data[data['director'].str.contains (dr, na=False)]['profit'].sum()
    dir_profit.append(res)
data_q = pd.DataFrame({'director': list_q, 'dir_profit': dir_profit}).sort_values('dir_profit', ascending=False)
data_q.iloc[0]

director      Peter Jackson
dir_profit       5202593685
Name: 4, dtype: object

In [275]:
list_q = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
cast_profit = []
for cs in list_q:
    res = data[data['cast'].str.contains (cs, na=False)]['profit'].sum()
    cast_profit.append(res)
data_q = pd.DataFrame({'cast': list_q, 'cast_profit': cast_profit}).sort_values('cast_profit', ascending=False)
data_q.iloc[0]

cast           Emma Watson
cast_profit     6666245597
Name: 0, dtype: object

In [277]:
list_q = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
cast_profit = []
for cs in list_q:
    res = data[(data['cast'].str.contains (cs, na=False))&(data['release_year'] == 2012)]['profit'].sum()
    cast_profit.append(res)
data_q = pd.DataFrame({'cast': list_q, 'cast_profit': cast_profit}).sort_values('cast_profit', ascending=True)
data_q.iloc[0]

cast           Kirsten Dunst
cast_profit        -68109207
Name: 2, dtype: object

In [726]:
# 18
list_q = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
cast_list = data[data['budget'] > data['budget'].mean()].cast_lst.sum()
c = collections.Counter()
for cast in cast_list:
    if cast in list_q:
        c[cast] += 1
Counter(c).most_common(1)[0]

('Matt Damon', 18)

In [301]:
# 19
genres_list = data[data['cast'].str.contains ('Nicolas Cage', na=False)].genres_lst.sum()
c = collections.Counter()
for g in genres_list:
    c[g] += 1
Counter(c).most_common(1)[0]

('Action', 17)

In [311]:
# 20
list_q = [
    'Universal Pictures', 
    'Paramount Pictures', 
    'Columbia Pictures', 
    'Warner Bros.', 
    'Twentieth Century Fox Film Corporation'
    ]
prod_list = data.prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]

('Universal Pictures', 173)

In [316]:
# 21
list_q = [
    'Universal Pictures', 
    'Paramount Pictures', 
    'Columbia Pictures', 
    'Warner Bros.', 
    'Twentieth Century Fox Film Corporation'
    ]
prod_list = data[data['release_year'] == 2015].prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]

('Warner Bros.', 12)

In [326]:
# 22
list_q = [
    'Warner Bros.', 
    'Universal Pictures', 
    'Columbia Pictures', 
    'Paramount Pictures', 
    'Walt Disney'
    ]
prod_list = data[data['genres'].str.contains ('Comedy', na=False)].prod_companies_lst.sum()
c = collections.Counter()
for prod in prod_list:
    if prod in list_q:
        c[prod] += 1
Counter(c).most_common(1)[0]

('Universal Pictures', 75)

In [331]:
# 23
list_q = [
    'Universal Pictures', 
    'Warner Bros.', 
    'Columbia Pictures', 
    'Paramount Pictures', 
    'Lucasfilm'
    ]
prod_profit = []
for prod in list_q:
    res = data[(data['production_companies'].str.contains (prod, na=False))&(data['release_year'] == 2012)]['profit'].sum()
    prod_profit.append(res)
data23 = pd.DataFrame({'cast': list_q, 'prod_profit': prod_profit}).sort_values('prod_profit', ascending=False)
data23.iloc[0]

cast           Columbia Pictures
prod_profit           2501406608
Name: 2, dtype: object

In [340]:
# 24
data24 = data[data['production_companies'].str.contains ('Paramount Pictures', na=False)].sort_values('profit')
print(data24.iloc[0]['original_title'], data24.iloc[0]['imdb_id'])

K-19: The Widowmaker tt0267626

In [731]:
# 25
list_q = [2014, 2008, 2012, 2002, 2015]
year_revenue = []
for y in list_q:
    res = data[data['release_year'] == y]['revenue'].sum()
    year_revenue.append(res)
data_q = pd.DataFrame({'release_year': list_q, 'year_revenue': year_revenue}).sort_values('year_revenue', ascending=False)
data_q.iloc[0]

release_year           2015
year_revenue    25449202382
Name: 4, dtype: int64

In [729]:
year_profit

[]

In [730]:
# 26
list_q = [2014, 2008, 2012, 2010, 2015]
year_revenue = []
for y in list_q:
    res = data[(data['release_year'] == y)&(data['production_companies'].str.contains ('Warner Bros.', na=False))]['revenue'].sum()
    year_revenue.append(res)
data_q = pd.DataFrame({'release_year': list_q, 'year_revenue': year_revenue}).sort_values('year_revenue', ascending=False)
data_q.iloc[0]

release_year          2014
year_revenue    3243064519
Name: 0, dtype: int64

In [737]:
# 27
month_list = list(data['release_month'])
list_q = [1, 7, 12, 9, 5]
c = collections.Counter()
for m in month_list:
    if m in list_q:
        c[m] += 1
Counter(c).most_common(1)[0]

(9, 227)

In [409]:
# 28
len(data[data['sesons'] == 'summer'])

450

In [414]:
# 29
director_list = data[data['sesons'] == 'winter'].director_lst.sum()
pd.Series(director_list).value_counts()[:1]

Peter Jackson    7
dtype: int64

In [724]:
# 30
data30 = data.pivot_table(values=['profit'],
    index=['release_year'],
    columns=['release_month'],
    aggfunc='sum')

answer = []
for i in range(len(data30)):
    data_temp = data30.iloc[i].reset_index()
    a = data_temp.columns.tolist()[2]
    data_temp[a].max()
    b = data_temp[data_temp[a] == data_temp[a].max()].values[0]
    answer.append(b[1])

c = collections.Counter()
for m in answer:
    c[m] += 1
Counter(c).most_common(1)[0]

(6, 7)

In [465]:
# 31
list_q = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
data['len_title'] = data['original_title'].apply(lambda x: len(x))
avg_len_title = []
for y in list_q:
    res = data[data['production_companies'].str.contains (y, na=False)]['len_title'].mean()
    avg_len_title.append(res)
data_q = pd.DataFrame({'prod': list_q, 'avg_len_title': avg_len_title}).sort_values('avg_len_title', ascending=False)
data_q.iloc[0]

prod             Four By Two Productions
avg_len_title                         83
Name: 4, dtype: object

In [469]:
# 32
list_q = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
pattern = re.compile('[\w\d]+\W*')
data['word_title'] = data['original_title'].apply(lambda x: len(pattern.findall(x)))
avg_word_title = []
for y in list_q:
    res = data[data['production_companies'].str.contains (y, na=False)]['word_title'].mean()
    avg_word_title.append(res)
data_q = pd.DataFrame({'prod': list_q, 'avg_word_title': avg_word_title}).sort_values('avg_word_title', ascending=False)
data_q.iloc[0]

prod              Four By Two Productions
avg_word_title                         12
Name: 4, dtype: object

In [740]:
# 33
list_33 = []
data33 = pd.DataFrame()
pattern = re.compile('([\w\']{2,})\W*')
data33['original_title'] = data['original_title'].map(lambda x: x.lower())
data33['tagline'] = data['tagline'].map(lambda x: x.lower())
list_q = list(data33['original_title'])
#list_q.extend(list(data33['tagline']))
for w in list_q:
    list_33.extend(pattern.findall(w))
#    print(w, pattern.findall(w), len(list_33))
pd.Series(list_33).nunique()

2346

In [738]:
data33 = ''

In [577]:
# 34
dict_q = [['Inside Out', 'Gone Girl', '12 Years a Slave'], 
          ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'], 
          ['The Lord of the Rings: The Return of the King', 'Upside Down'], 
          ['300', 'Lucky Number Slevin'],
          ['Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King']]
data34 = data.sort_values(['vote_average', 'vote_count'], ascending=[False, False])
data34 = data34[:int((len(data34)*0.01))+1]
list_answer = list(data34['original_title'])
for i in dict_q:
    flag = False
    for j in i:
        if j in list_answer:
            flag = True
        else: 
            flag = False
            break
    print(i, flag)

['Inside Out', 'Gone Girl', '12 Years a Slave'] True
['BloodRayne', 'The Adventures of Rocky & Bullwinkle'] False
['The Lord of the Rings: The Return of the King', 'Upside Down'] False
['300', 'Lucky Number Slevin'] False
['Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King'] False

In [593]:
# 35
data35 = pd.DataFrame()
dict_q = [['Johnny Depp', 'Helena Bonham Carter'],
          ['Hugh Jackman',  'Ian McKellen'],
          ['Vin Diesel',  'Paul Walker'],
          ['Adam Sandler',  'Kevin James'],
          ['Daniel Radcliffe',  'Rupert Grint']]
for i in dict_q:
    temp = data.loc[(data['cast'].str.contains (i[0], na=False))&(data['cast'].str.contains (i[1], na=False))]
    temp['duble'] = str(i)
    data35 = pd.concat([data35, temp], sort = False)
double_list = list(data35['duble'])
c = collections.Counter()
for g in double_list:
    c[g] += 1
Counter(c).most_common(1)[0]

C:\Users\vyushmanov\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

("['Daniel Radcliffe', 'Rupert Grint']", 8)

In [613]:
list_q = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
data['profitable'] = data['profit'].apply(lambda x: True if x > 0 else False)
director_ = []
profitable = []
for i in list_q:
    a = len(data[(data['profitable'] == True)&(data['director'].str.contains(i, na=False))])
    b = len(data[data['director'].str.contains(i, na=False)])
    director_.append(i)
    profitable.append(a/b) 
data36 = pd.DataFrame({'director': director_, 'profitable': profitable}).sort_values(by='profitable', ascending=False)
data36.iloc[0]

director      Christopher Nolan
profitable                    1
Name: 3, dtype: object